# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env

# Mac
.DS_Store

# IDEs
.idea/
.vscode/

# Logs
*.log

# Ignore raw data if large
data/raw/*

# But keep folder
!data/raw/.gitkeep

# Ignore processed outputs (optional)
data/processed/*

# Keep structure
!data/processed/.gitkeep

# Jupyter checkpoints
.ipynb_checkpoints/
